body {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
}

h2 {
}

p {
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

/* nav {
  display: flex;
  align-content: center;
   gap: 1rem;
} */

ol {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.firstletter{
    font-size: 30px;
}

.box-demo {
  width: 240px;
  height: 120px;
  padding: 12px;
  border: 2px solid #333;
  margin: 16px auto;
}
