body {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  font-family: fantasy;
  font-size: 3rem;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
}

p {
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

/* nav {
  display: flex;
  align-content: center;
   gap: 1rem;
} */

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.firstletter {
  font-size: 50px;
  margin-right: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.box-demo {
  width: 240px;
  height: 120px;
  padding: 12px;
  border: 2px solid #333;
  margin: 16px auto;
}
